{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Create a New Account
{% endblock %}

{% block content %}

  <div>
    {% if not form.is_valid %}
      <div class="mx-auto">
        <br>
        <h1 class="product_title text-center">
          Create a new account
        </h1>
        <br>
        <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
          <br>
          <p>Enter the following information to create a new account</p>
          <form method="post">
            {% csrf_token %}
            <p>{{ form | crispy  }}</p>
            <button type="submit" name="button" class="btn btn-secondary">Sign Up</button>
          </form>
          <br>
        </div>
      </div>
    {% else %}
      <div class="mx-auto">
        <br>
        <h1 class="product_title text-center">
          Your account has been successfully created
        </h1>
        <br>
        <div class="container">
            <p>
              Dear Customer,
              <br>
              <br>
              Your account has been created and it is ready to use.
              <br>
              <a href="{% url 'home' %}">Continue shopping</a> and enjoy the variety of products that we have at the Z-Store.
            </p>
        </div>
      </div>

    {% endif %}
  </div>
{% endblock %}
